<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="/staff"
  >
    <div class="sidebar-brand-icon">
      <i class="fas fa-school"></i>
    </div>
    <div class="sidebar-brand-text mx-3">FPT <sup>Staff</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <!-- <div class="sidebar-heading">Training Staff</div> -->

  <!-- Nav Item - Trainee Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-users"></i>
      <span>Trainee</span>
    </a>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <!-- <h6 class="collapse-header">Custom Components:</h6> -->
        <a class="collapse-item" href="/staff/trainee">Trainee information</a>
        <a class="collapse-item" href="/staff/traineeAccount"
          >Trainee account</a
        >
      </div>
    </div>
  </li>

  <!-- Nav Item - Course Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseUtilities"
      aria-expanded="true"
      aria-controls="collapseUtilities"
    >
      <i class="fas fa-graduation-cap"></i>
      <span>Course</span>
    </a>
    <div
      id="collapseUtilities"
      class="collapse"
      aria-labelledby="headingUtilities"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <!-- <h6 class="collapse-header">Custom Utilities:</h6> -->
        <a class="collapse-item" href="/staff/course">Course</a>
        <a class="collapse-item" href="/staff/trainerCourse"
          >Trainer - Course</a
        >
        <a class="collapse-item" href="/staff/traineeCourse"
          >Trainee - Course</a
        >
      </div>
    </div>
  </li>

  <!-- Nav Item - Category Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseCategory"
      aria-expanded="true"
      aria-controls="collapseCategory"
    >
      <i class="fas fa-graduation-cap"></i>
      <span>Course Category</span>
    </a>
    <div
      id="collapseCategory"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <!-- <h6 class="collapse-header">Custom Components:</h6> -->
        <a class="collapse-item" href="/staff/category">Category information</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->
