<!-- Begin Page Content -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
/>
<h1 style="text-align: center">Assign Trainee</h1>
<div class="container">
  <form action="/staff/assignTrainee" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Trainee</label>
      <select
        class="form-control"
        id="exampleFormControlSelect1"
        name="traineeId"
      >
        <% trainees.forEach(function(trainee) { %>
        <option value="<%= trainee.id %>"><%= trainee.name %></option>
        <% }); %>
      </select>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Course</label>
      <select
        class="form-control"
        id="exampleFormControlSelect1"
        name="courseId"
      >
        <% courses.forEach(function(course) { %>
        <option value="<%= course.id %>"><%= course.name %></option>
        <% }); %>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">
      <i class="fas fa-check-circle"></i> Create
    </button>
    <a href="/admin/trainee">
      <button type="button" class="btn btn-secondary">
        <i class="fas fa-times-circle"></i> Cancel
      </button>
    </a>
  </form>
</div>
<script>
  const togglePassword = document.querySelector("#togglePassword");
  const password = document.querySelector("#id_password");

  togglePassword.addEventListener("click", function (e) {
    // toggle the type attribute
    const type =
      password.getAttribute("type") === "password" ? "text" : "password";
    password.setAttribute("type", type);
    // toggle the eye slash icon
    this.classList.toggle("fa-eye-slash");
  });
</script>
